.about-leader-list img {
    width: 100%;
}

.about-leader-title-ju {
    display: inline-block;
    height: 8px;
    width: 8px;
    background-color: black;
    position: relative;
    top: -2px;
}
.about-leader-content{
	margin:5px 0px;
}
.about-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-leader-list {
    width: 18vw;
    text-align: center;
    margin-bottom: 20px;
}

.about-leader-list ul {
    margin: 10px;
}

.about-leader-title {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: black;
}

.about-leader-list ul li {
    text-align: left;
    color: #111;
    font-size: 1rem;
}

.about-content {
    text-align: center;
}

 

.about-content-one {
width: 80%;
    margin: 0 auto;
    line-height: 25px;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}
.about-top-pic-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: 600;
}
.about-bottom {
    margin-top: 60px;
    margin-bottom: 70px;
}
.about-top-pic{
    position: relative;
    color: white;
}
.about-top-pic img {
    width: 100vw;
}

.about-content {
    overflow: hidden;
}

.about-bottom-title,

.about-content-title {
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    margin:30px 0px;
}

.about-leader-title {}

@media screen and (max-width: 1280px) {
    .about-leader-list img {
        width: 100%;
    }

    .about-leader-list {
        width: 45vw;
    }
}

@media screen and (max-width: 780px) {
    .about-content {
        margin-top: 45px;
    }
    .about-leader-list ul{
        margin:5px;
    }
    .about-leader-title{
        font-size: 1rem;
    }
    .about-top-pic-title{
        width: 100%;
        font-size: 1.2rem;
    }

}