html {
    font-size: 12px
}

.index_content_list {
    background-color: #12151A;
}

.index_section1 {
    height: 4580vh;
    background-color: #191C23;
}

.index_section2 {
    background-color: #191C23;
}

.mobile_index_juzhen_ul img{
    width: 40vw;
}

.index_juzhen{
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: block;
    z-index: 111111111112;
    top:0px;
}

.index_five li{
    height: 18vh;
    width: 40vw;
    position:relative;
}

.index_five img{
    width: 40vw;
    position: relative;
    margin-top: 8vh;
} 

.index_five{
        display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.mobile_index_juzhen_ul{

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    justify-content: center;
    z-index: 5;

}

.mobile_index_juzhen_ul{
    display: flex;
    flex-direction: row;
}

.mobile_index_juzhen_li {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100vh;
    text-align: center;
    justify-content: center;
}


.index_section3 {
    background-color: white;
}

.index_section4 {
    height: 0vh;
}

.index_section5 {
    height: 0vh;
}

.index_section6 {
    height: 0vh;
}

.index_last_static {
    position: fixed;
    display: none;
    top: 50px;
    left: 0px;
    overflow: hidden;
    z-index: 110;
}

/*第一个模块start*/
.index_video {
    animation: indexvideo 1s;
    /* Firefox 
-moz-animation: indexvideo 1s; 
-webkit-animation: indexvideo 1s; 
/* Safari 和 Chrome */
    -o-animation: indexvideo 1s;
    /* Opera */
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;


}
.all-footer{
    /*position: fixed;*/
    width: 100vw;
    /*bottom: -395px;*/
    z-index: 110;
    height: 395px;
}

@keyframes indexvideo {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

@-moz-keyframes indexvideo

/* Firefox */
    {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

@-webkit-keyframes indexvideo

/* Safari 和 Chrome */
    {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

@-o-keyframes indexvideo

/* Opera */
    {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}


.index_pic_video_ainimate_show {
    animation: index_pic_video_ainimate 1s;
    /* Firefox 
-moz-animation: indexvideo 1s; 
-webkit-animation: indexvideo 1s; 
/* Safari 和 Chrome */
    -o-animation: index_pic_video_ainimate 1s;
    /* Opera */
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;


}

@keyframes index_pic_video_ainimate {
    from {
        margin-top: -150px;
    }

    to {
        margin-top: -180px;
    }
}

@-moz-keyframes index_pic_video_ainimate

/* Firefox */
    {
    from {
        margin-top: -150px;
    }

    to {
        margin-top: -180px;
    }
}

@-webkit-keyframes index_pic_video_ainimate

/* Safari 和 Chrome */
    {
    from {
        margin-top: -150px;
    }

    to {
        margin-top: -180px;
    }
}

@-o-keyframes index_pic_video_ainimate

/* Opera */
    {
    from {
        margin-top: -150px;
    }

    to {
        margin-top: -180px;
    }
}

.head_video_title_li{
        position: absolute;
    left: 50%;
    transform: translate(-50%, 10px);
    z-index: 10;
}
.head_video_last_txt{
        position: absolute;
    left: 50%;
    transform: translate(-50%, 60px);
    z-index: 5;
}
.head_video_title_show {
    animation: head_video_title_animate 1s;
    /* Firefox 
-moz-animation: indexvideo 1s; 
-webkit-animation: indexvideo 1s; 
/* Safari 和 Chrome */
    -o-animation: head_video_title_animate 1s;
    /* Opera */
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;


}

@keyframes head_video_title_animate {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 10px;
    }
}

@-moz-keyframes head_video_title_animate

/* Firefox */
    {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 10px;
    }
}

@-webkit-keyframes head_video_title_animate

/* Safari 和 Chrome */
    {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 10px;
    }
}

@-o-keyframes head_video_title_animate

/* Opera */
    {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 10px;
    }
}


.head_video_title_show {
    animation: head_video_title_animate 1s;
    /* Firefox 
-moz-animation: indexvideo 1s; 
-webkit-animation: indexvideo 1s; 
/* Safari 和 Chrome */
    -o-animation: head_video_title_animate 1s;
    /* Opera */
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;

}

@keyframes head_video_title_animate {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 10px;
    }
}

@-moz-keyframes head_video_title_animate

/* Firefox */
    {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 10px;
    }
}

@-webkit-keyframes head_video_title_animate

/* Safari 和 Chrome */
    {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 10px;
    }
}

@-o-keyframes head_video_title_animate

/* Opera */
    {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 10px;
    }
}




.head_video_san_bg_long {
    animation: head_video_san_bg_animate 0.6s;
    /* Firefox 
-moz-animation: indexvideo 1s; 
-webkit-animation: indexvideo 1s; 
/* Safari 和 Chrome */
    -o-animation: head_video_san_bg_animate 0.6s;
    /* Opera */
    -webkit-animation-fill-mode: forwards;


}

@keyframes head_video_san_bg_animate {
    from {
        width: 18px;
    }

    to {
        width: 200px;
        background-color: #2965E1;
    }
}

@-moz-keyframes head_video_san_bg_animate

/* Firefox */
    {
    from {
        width: 18px;
    }

    to {
        width: 200px;
        background-color: #2965E1;
    }
}

@-webkit-keyframes head_video_san_bg_animate

/* Safari 和 Chrome */
    {
    from {
        width: 18px;
    }

    to {
        width: 200px;
        background-color: #2965E1;
    }
}

@-o-keyframes head_video_san_bg_animate

/* Opera */
    {
    from {
        width: 18px;
    }

    to {
        width: 200px;
        background-color: #2965E1;
    }
}


.head_video_san_bg_short {
    animation: head_video_san_short_animate 0.6s;
    /* Firefox 
-moz-animation: indexvideo 1s; 
-webkit-animation: indexvideo 1s; 
/* Safari 和 Chrome */
    -o-animation: head_video_san_short_animate 0.6s;
    /* Opera */
    -webkit-animation-fill-mode: forwards;
}

@keyframes head_video_san_short_animate {
    from {
        width: 200px;
        background-color: #2965E1;
    }

    to {
        width: 18px;
    }
}

@-moz-keyframes head_video_san_short_animate

/* Firefox */
    {
    from {
        width: 200px;
        background-color: #2965E1;
    }

    to {
        width: 18px;
    }
}

@-webkit-keyframes head_video_san_short_animate

/* Safari 和 Chrome */
    {
    from {
        width: 200px;
        background-color: #2965E1;
    }

    to {
        width: 18px;
    }
}

@-o-keyframes head_video_san_short_animate

/* Opera */
    {
    from {
        width: 200px;
        background-color: #2965E1;
    }

    to {
        width: 18px;
    }
}

.head_video_last_txt {
    position: relative;
    top: -48px;
}

.head_video_last_txt_up {
    animation: head_video_last_txt_up_animate 0.6s;
    /* Firefox 
-moz-animation: indexvideo 1s; 
-webkit-animation: indexvideo 1s; 
/* Safari 和 Chrome */
    -o-animation: head_video_last_txt_up_animate 0.6s;
    /* Opera */
    -webkit-animation-fill-mode: forwards;
}

@keyframes head_video_last_txt_up_animate {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 10px;
    }
}

@-moz-keyframes head_video_last_txt_up_animate

/* Firefox */
    {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 10px;
    }
}

@-webkit-keyframes head_video_last_txt_up_animate

/* Safari 和 Chrome */
    {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 10px;
    }
}

@-o-keyframes head_video_san_short_animate

/* Opera */
    {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 10px;
    }
}


.head_video_last_txt_down {
    animation: head_video_last_txt_down_animate 0.6s;
    /* Firefox 
-moz-animation: indexvideo 1s; 
-webkit-animation: indexvideo 1s; 
/* Safari 和 Chrome */
    -o-animation: head_video_last_txt_down_animate 0.6s;
    /* Opera */
    -webkit-animation-fill-mode: forwards;
}

@keyframes head_video_last_txt_down_animate {
    from {
        opacity: 1;
        top: 10px;
    }

    to {
        opacity: 0;
        top: 50px;
    }
}

@-moz-keyframes head_video_last_txt_down_animate

/* Firefox */
    {
    from {
        opacity: 1;
        top: 10px;
    }

    to {
        opacity: 0;
        top: 50px;
    }
}

@-webkit-keyframes head_video_last_txt_down_animate

/* Safari 和 Chrome */
    {
    from {
        opacity: 1;
        top: 10px;
    }

    to {
        opacity: 0;
        top: 50px;
    }
}

@-o-keyframes head_video_last_txt_down_animate

/* Opera */
    {
    from {
        opacity: 1;
        top: 10px;
    }

    to {
        opacity: 0;
        top: 50px;
    }
}

.index_product_fir_animate {
    animation: index_product_fir_animate_key 0.6s;
    /* Firefox 
-moz-animation: indexvideo 1s; 
-webkit-animation: indexvideo 1s; 
/* Safari 和 Chrome */
    -o-animation: index_product_fir_animate_key 0.6s;
    /* Opera */
    -webkit-animation-fill-mode: forwards;
}

@keyframes index_product_fir_animate_key {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes index_product_fir_animate_key

/* Firefox */
    {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes index_product_fir_animate_key

/* Safari 和 Chrome */
    {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes index_product_fir_animate_key

/* Opera */
    {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.index_product_sec_animate {
    animation: index_product_sec_animate_key 0.6s;
    /* Firefox 
-moz-animation: indexvideo 1s; 
-webkit-animation: indexvideo 1s; 
/* Safari 和 Chrome */
    -o-animation: index_product_sec_animate_key 0.6s;
    /* Opera */
    -webkit-animation-fill-mode: forwards;
}

@keyframes index_product_sec_animate_key {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes index_product_sec_animate_key

/* Firefox */
    {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes index_product_sec_animate_key

/* Safari 和 Chrome */
    {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes index_product_sec_animate_key

/* Opera */
    {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#canvas {
    position: fixed;
    height: 100vh;
    top: 50px;
    display: none;
    z-index: 2;
}
.head_index_video .index_sec_fumo .index_it_alive_txt li{
    text-align: left;
}
.index_it_alive_txt li:nth-child(2), .index_it_alive_txt li:nth-child(3){
    text-align: left;
}
/*第一个模块 end*/

.phs_animate_ul_li {
    font-size: 2rem;
    font-weight: 700;
}

.phs_animate_ul_li_content {
    width: 100%;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 20px 0px;
    margin-bottom: 2rem;
    color: #B6BABD;
}

.phs_left_pic {
    width: 60px;
    height: 30px;
    margin-top: 12px !important;

}

.phs_left_txt {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}

.phs_left {
    width: 0px;
    background-color: #391FBD;
    /*margin-left: 100px;*/
    /*margin: 0 auto;*/

}

.phs_animate {
    width: 70vw;
    background-color: #191E23;
}

.phs_left li {
    height: 82px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    padding-top: 17px;
}

.phs_left li span {
    display: block;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding-top: 0px;
}

.phs_left .phs_left_pic img,
.phs_left .phs_left_txt {
    /*transform: scale(0.2);*/
}

.phs_left_txt {
    transform: scale(0);
}

.phs_left .phs_left_pic img {
    transform: scale(0.01);
}


.phs_module_delay {
    width: 65px;
    display: inline-block;
}

.phs_txt {
    /*opacity: 0;*/
    display: none;
}

.phs_left_img_scal {
    animation: phs_left_img_scal_animate 0.5s;
    -moz-animation: phs_left_img_scal_animate 0.5s;
    /* Firefox */
    -webkit-animation: phs_left_img_scal_animate 0.5s;
    /* Safari 和 Chrome */
    -o-animation: phs_left_img_scal_animate 0.5s;
    /* Opera */
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}


@keyframes phs_left_img_scal_animate {
    0% {
        transform: scale(0.01);
    }

    30% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(0.6);
    }
}

.phs_compatible {
    display: none;
}

.phs_compatible_after,
.phs_compatible_only {
    display: none;
    font-size: 1.5rem;
    color: #111;
}

.phs_compatible_title {
    font-size: 1.5rem;
    font-weight: 700;
    display: none;
}

.phs_left_scal {
    animation: phs_left_scal_animate 0.3s;
    -moz-animation: phs_left_scal_animate 0.3s;
    /* Firefox */
    -webkit-animation: phs_left_scal_animate 0.3s;
    /* Safari 和 Chrome */
    -o-animation: phs_left_scal_animate 0.4s;
    /* Opera */
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}


@keyframes phs_left_scal_animate {
    0% {
        transform: scale(0.01);
    }

    30% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

@-moz-keyframes phs_left_scal_animate

/* Firefox */
    {
    0% {
        transform: scale(0.01);
    }

    30% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes phs_left_scal_animate

/* Safari 和 Chrome */
    {
    0% {
        transform: scale(0.01);
    }

    30% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

@-o-keyframes phs_left_scal_animate

/* Opera */
    {
    0% {
        transform: scale(0.01);
    }

    30% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.phs_left_width {
    animation: phs_left_width_animate 0.5s;
    -moz-animation: phs_left_width_animate 0.5s;
    /* Firefox */
    -webkit-animation: phs_left_width_animate 0.5s;
    /* Safari 和 Chrome */
    -o-animation: phs_left_width_animate 0.5s;
    /* Opera */
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}

@keyframes phs_left_width_animate {

    0% {
        padding: 0px;
    }

    100% {
        padding: 10px;
    }
}

@-moz-keyframes phs_left_width_animate {

    /* Firefox */


    0% {
        padding: 0px;
    }

    100% {
        padding: 10px;
    }
}

@-webkit-keyframes phs_left_width_animate {

    /* Safari 和 Chrome */

    0% {
        padding: 0px;
    }

    100% {
        padding: 10px;
    }
}

@-o-keyframes phs_left_width_animate {

    /* Opera */


    0% {
        padding: 0px;
    }

    100% {
        padding: 10px;
    }
}

.phs_module_min {
    width: 100px;
    height: 20px;
    line-height: 20px;
    color: white;
    border-radius: 5px;
    background-color: #391FBD;
    background: -webkit-linear-gradient(to right, #099F71, #45DFB5);
    background: linear-gradient(to right, #099F71, #45DFB5);
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 5px;
}

.phs_module_minwo_dh {
    animation: phs_module_minwo_animate 0.8s;
    -moz-animation: phs_module_minwo_animate 0.8s;
    /* Firefox */
    -webkit-animation: phs_module_minwo_animate 0.8s;
    /* Safari 和 Chrome */
    -o-animation: phs_module_minwo_animate 0.8s;
    /* Opera */
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}

@keyframes phs_module_minwo_animate {

    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.0.5);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.phs_module_min_round {
    width: 160px;
    height: 22px;
    line-height: 22px;
    color: white;
    border-radius: 20px;
    background-color: #391FBD;
    background: -webkit-linear-gradient(to right, #099F71, #45DFB5);
    background: linear-gradient(to right, #099F71, #45DFB5);
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 4px;
    margin-right: 10px;
    margin-left: 10px;
    opacity: 0;
}

.phs_module_min_san {
    width: 307px;
    height: 22px;
    line-height: 22px;
    color: white;
    background-color: #391FBD;
    background: -webkit-linear-gradient(to right, #099F71, #45DFB5);
    background: linear-gradient(to right, #099F71, #45DFB5);
    padding: 0px 10px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 4px;
}

.phs_module_min_san_left {


    content: "";
    width: 0px;
    height: 0px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-right: 16px solid #1DA376;
    position: absolute;
    z-index: 1;
    left: -16px;
    top: 0px;

}

.phs_module_min_san_ju {
    content: "";
    width: 5px;
    height: 6px;
    background-color: #3A23BB;
    position: absolute;
    left: -18px;
    z-index: 111;
    top: 8px;
}

.phs_module_min_san_right {
    content: "";
    width: 0px;
    height: 0px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 16px solid #4DDFB5;
    position: absolute;
    z-index: 1;
    right: -16px;
    top: 0px;
}

.phs_module_min_san_jur {
    content: "";
    width: 5px;
    height: 6px;
    background-color: #4976D5;
    position: absolute;
    right: -18px;
    z-index: 111;
    top: 8px;
}

.phs_module_min_time {
    height: 18px;
    line-height: 18px;
    color: #191E23;
    border-radius: 5px;
    background-color: white;
    padding: 0px 10px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 2px;
    right: 20px;
}

.phs_module_min_san .phs_module_min_time {
    right: 6px;
}

.phs_module_min_happy {
    height: 18px;
    line-height: 18px;
    color: #191E23;
    border-radius: 5px;
    background-color: white;
    padding: 0px 10px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 6px;
    right: -5px;
}

.phs_img {
    margin-right: 15px;
    opacity: 0;
}

.phs_program_start {
    width: 130px;
}

.phs_loop {
    width: 72px;
}

.phs_screen {
    width: 288px;
}

.phs_wandering {
    width: 110px;
}

.phs_delay {
    width: 340px;
}

.phs_screen_happy {
    width: 260px;
}

.phs_greet {
    width: 112px;
}

.phs_until {
    width: 390px;
    padding-right: 30px;
}

.phs_module_min_round,
.phs_module_min_san,
.phs_module_min {
    transform: scale(0);
    opacity: 0;
}

.phs_module_min_round_animate {
    animation: phs_module_min_round_animate_key 1s;
    -webkit-animation-fill-mode: forwards;
    display: flex;
    justify-content: flex-start;
}

@keyframes phs_module_min_round_animate_key {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }

    50% {
        transform: scale(1.05);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.phs_module {
    /*width: 350px;*/
    height: 30px;
    line-height: 30px;
    color: white;
    border-radius: 5px;
    background-color: #391FBD;
    background: -webkit-linear-gradient(to right, #391FBD, #4779D9);
    background: linear-gradient(to right, #391FBD, #4779D9);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}


.phs_module_left {

    height: 30px;
    line-height: 30px;
    color: white;
    background-color: #391FBD;
    background: -webkit-linear-gradient(to right, #391FBD, #4779D9);
    background: linear-gradient(to right, #391FBD, #4779D9);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.phs_module_right {

    height: 30px;
    line-height: 30px;
    color: white;
    background-color: #391FBD;
    background: -webkit-linear-gradient(to right, #391FBD, #4779D9);
    background: linear-gradient(to right, #391FBD, #4779D9);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

.phs_nei {
    margin-top: 10px;
    margin-left: 10px;
}

.phs_module_top {
    margin-top: 12px;
}

.phs_module_bottom {
    margin-bottom: 10px;
}

.phs_module_max_shu {
    /*width: 25px;*/
    height: 10px;
    background-color: #391FBD;
    margin-left: 10px;
    opacity: 0;
    position: relative;
    left: 10px;
    border-radius: 10px;
}

.phs_module_min_shu {
    /*height: 130px;*/
    /*width: 25px;*/
    background-color: #391FBD;
    margin-left: 10px;
    opacity: 0;
}

.index_pic_bak {
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: fixed;
    background-position: bottom;
}

.index_pic_bak_animate {
    animation: index_pic_bak_ani 0.8s;
    -moz-animation: index_pic_bak_ani 0.8s;
    /* Firefox */
    -webkit-animation: index_pic_bak_ani 0.8s;
    /* Safari 和 Chrome */
    -o-animation: index_pic_bak_ani 0.8s;
    /* Opera */
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}

@keyframes index_pic_bak_ani {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.index_pic_bak_animate_ni {
    animation: index_pic_bak_ani_ni 0.8s;
    -moz-animation: index_pic_bak_ani_ni 0.8s;
    /* Firefox */
    -webkit-animation: index_pic_bak_ani_ni 0.8s;
    /* Safari 和 Chrome */
    -o-animation: index_pic_bak_ani_ni 0.8s;
    /* Opera */
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}

@keyframes index_pic_bak_ani_ni {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@-moz-keyframes index_pic_bak_ani_ni {

    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@-webkit-keyframes index_pic_bak_ani_ni {

    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@-o-keyframes index_pic_bak_ani_ni {

    /* Opera */
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.index_fumovideo,
#fumovideo {
    display: none;
}

.cellrobot-video-alert {
    z-index: 9999;
}

.header-nav-first-m a {
    color: black;
}

.header-nav-first-left span {
    color: black;
}

.head_index_video_up {
    animation: head_index_video_up_animate 0.8s;
    -moz-animation: head_index_video_up_animate 0.8s;
    /* Firefox */
    -webkit-animation: head_index_video_up_animate 0.8s;
    /* Safari 和 Chrome */
    -o-animation: head_index_video_up_animate 0.8s;
    /* Opera */
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}


.head_video_last_txt_uptwo {
    animation: head_video_last_txt_uptwo_animate 0.6s;
    /* Firefox 
-moz-animation: indexvideo 1s; 
-webkit-animation: indexvideo 1s; 
/* Safari 和 Chrome */
    -o-animation: head_video_last_txt_uptwo_animate 0.6s;
    /* Opera */
    -webkit-animation-fill-mode: forwards;
}

@keyframes head_video_last_txt_uptwo_animate {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 10px;
    }
}

@-moz-keyframes head_video_last_txt_uptwo_animate

/* Firefox */
    {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 10px;
    }
}

@-webkit-keyframes head_video_last_txt_uptwo_animate

/* Safari 和 Chrome */
    {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 10px;
    }
}

@-o-keyframes head_video_san_short_animate

/* Opera */
    {
    from {
        opacity: 0;
        top: 50px;
    }

    to {
        opacity: 1;
        top: 10px;
    }
}


.index_txt_all {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #191E23;
    height: 100vh;
    z-index: 5;
    top: 50px;
}

.index_txt_left {
    font-weight: 700;
    overflow: hidden;
    font-size: 5.5rem;
    padding: 0px 10px;
    width: 700px;
    margin-top: 50%;
}

.index_txt_right {

    padding: 0px 10px;
    line-height: 22px;
    opacity: 0;
    position: relative;
    margin-top: 50%;
}

.index_txt_right li {
    text-align: left;
    font-size: 18px;
    line-height: 32px;
}

.index_txt_right ul {
    margin: 40px 0px;
    width: 365px;
}

.index_it_alive {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 925px;
    padding: 0px 10%;
    align-items: center;
}

.index_it_alive_bg {
    background-color: #191D23;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    display: none;
}

.index_it_alive_txt {
    color: white;
    padding: 0px 20px;
    z-index: 6;
}

.index_sec_fumo .index_it_alive_txt li {
    text-align: left;
}

.index_it_alive_txt li:first-child {
    font-size: 50px;
    font-weight: 700;
    padding: 20px 0px;
}

.index_it_alive_txt li:nth-child(2),
.index_it_alive_txt li:nth-child(3) {
    font-size: 20px;
    padding: 5px 0px;
}

.index_it_alive_txt {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(0%, -50%);
    width: 300px;
    text-align: left;
    opacity: 0;
}

.index_it_alive_img {
    opacity: 0;
    flex: 1;
}

.index_it_alive_img img {
    width: 100%;
}

.index_txt_left {
    position: relative;
    opacity: 0;
    text-align: left;
}

.index_txt_right {
    opacity: 0;
}

.index_txt_pic {
    position: fixed;
    top: 50px;
    display: none;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    /*background-color: white;*/
}

.index_list_te {
    display: none;
}

.index_txt_pic_bg {
    background-color: white;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    z-index: 1;
}

.index_txt_pic_img {
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: absolute;
}

.index_xiaoche {
    display: none;
    position: fixed;
    top: 50px;
    background-color: white;
    z-index: 1;
}

.index_xiaoche img {
    /*height: 100vh;*/
    width: 100vw;
}

.index_txt_pic img {
    height: 100vh;
    width: 100vw;
}

.index_module {
    position: fixed;
    z-index: 99999
}

.footer-content dt{
    font-size: 14px !important;
}

.index_module_txt_min{
    font-size: 12px;
}

.index_module_div {
    justify-content: space-around;
    flex-direction: column;
    height: calc(100vh - 50px);
    top: 50px;
    width: 100vw;
    background-color: #232F3E;
    overflow: hidden;
    position: relative;
}

.index_module_txt {
    text-align: center;
    font-size: 25px;
    color: white;
    width: 280px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    background-color: #25333F;
    height: 100px;
    width: 100vw;
    transform: translate(-50%, -50%);
}

.index_module_div img {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.index_module_div video {
    width: 10px;
}

.index_module_div ul {
    display: flex;
}

.index_module_top {
    position: absolute;
    top: 0px;
}

.index_module_bottom {
    position: absolute;
    bottom: 0px;
}

.index_module_middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: space-between;
    z-index: 2
}

.index_module_middle li:first-child {
    width: 20%;
    left: -8%;
}

.index_module_middle_left {
    left: -8%;
}

.index_module_middle li:nth-child(3) {
    width: 20%;
    left: 4%;
}
.index_pingjie_zong{
height: 100vh;
    width: 100vw;
    z-index: 1000;
    position: fixed;
}
.index_pingjie_top {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0;
}
.index_pingjie_txt{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 36%;
    font-size: 3rem;
    color: white;
    opacity: 1;
    text-align: center;
    width: 582px;
    z-index: 999;
}
.index_pingjie_top img {
    width: 100vw;
    height: 100vh;
    margin-top: 100px;
}

.index_module_div ul li {
    height: 22vh;
    position: relative;
    text-align: center;
    line-height: 30vh;
    display: flex;
    align-items: center;
}

.index_module_middle li {
    display: flex;
    align-items: center;
}

.index_module_bottom li {
    display: flex;
    align-items: flex-end;
}

.index_module_div ul {
    width: 100%;
    justify-content: space-between;
}

.index_module_div img {
    transform: scale(1);
    cursor: pointer;
    width: 80%;
}

.index_module_video {
    display: none;
    width: 50vw;
    border-radius: 5px;
    /*position: absolute;*/
    /*left: -1vw;*/
    /*z-index: 2;*/
    /*transform: translate(-35vw, 0vh);*/
}

.index_module_video_li {
    z-index: 2;
    height: 50vh;
}

.index_module_scale_max {
    animation: index_module_scale_animate 0.4s;
    -moz-animation: index_module_scale_animate 0.4s;
    /* Firefox */
    -webkit-animation: index_module_scale_animate 0.4s;
    /* Safari 和 Chrome */
    -o-animation: index_module_scale_animate 0.4s;
    /* Opera */
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}


@keyframes index_module_scale_animate {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}


.index_module_scale_min {
    animation: index_module_scale_min_animate 0.4s;
    -moz-animation: index_module_scale_min_animate 0.4s;
    /* Firefox */
    -webkit-animation: index_module_scale_min_animate 0.4s;
    /* Safari 和 Chrome */
    -o-animation: index_module_scale_min_animate 0.4s;
    /* Opera */
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}

@keyframes index_module_scale_min_animate {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
  

.phs_animate_easy {
    display: none;
    font-size: 1.5rem;
}

.index_community_video {
    /*max-height: 60vh;*/
    overflow: hidden;
}
.index_robots_pic{
    display: none;
}
.index_edu_over {
    max-height: 60vh;
}

.index_robots_dh {
    text-align: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 99;
    display: none;
    background-color: #253340;
    position: fixed;
    top: 100vh;
    display: none;
}


.index_robots_div {
    /*position: fixed;*/
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /*top: -50px;*/
    /*opacity: 0;*/
    /*display: none;*/
    position: relative;
    flex-direction: column;
    /*overflow: hidden;*/
}

.index_robots_round {
    height: 30vw;
    width: 25vw;
    border-radius: 5vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    display: none;
    top: 0px;
    z-index: 5;
}

.index_robots_txt_title {
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 700;
}

.index_robots_txt_content {
    font-size: 1rem;
}

.index_robots_round_white {
    height: 30vw;
    width: 25vw;
    border-radius: 5vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    display: none;
    top: 0px;
    z-index: 5;
}

 

.index_robots_pic img {
    width: 100px;
    height: 100px;
}

.index_robots_txt li {
    /*color: black;*/
    color: white;
}

.index_robots_txt {
    position: absolute;
    transform: translate(-50%, 50%);
    left: 50%;
    top: 50%;
    z-index: 3;
    width: 280px;
    color: white;
}

.index_robots_img {
    animation: index_robot_img_animate 5.5s;
    -moz-animation: index_robot_img_animate 5.5s;
    /* Firefox */
    -webkit-animation: index_robot_img_animate 5.5s;
    /* Safari 和 Chrome */
    -o-animation: index_robot_img_animate 5.5s;
    /* Opera */
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}


@keyframes index_robot_img_animate {
    0% {
        transform: scale(0);
    }

    60% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.index_robots_one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    display: none;
    width: 100vw;
    margin-bottom: 80px;
}

.index_robots_one img {
    margin-bottom: 50px;
    /*height: 100vh;*/
    width: 100vw;
}

.index_robots_one_video {
    text-align: center;
}

.index_robots_one_title {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 5rem;
    width: 625px;
}

.index_robots_video {
    width: 100vw;
}

.index_robots_pics {
    display: flex;
    position: relative;
    z-index: 3;
    margin: 0 auto;
    width: 90%;
    justify-content: space-around;
}

.index_robots_pics_right,
.index_robots_pics_left,
.index_robots_pics_middle {
    position: relative;
}

.index_robots_pics_right,
.index_robots_pics_left {
    top: 25vh;
}

.index_robots_pics img {
    width: 25vw;
    height: 30vw;
}

.index_robots_ju img {
    height: 14vw;
}

.index_robots_ju_te img {
    height: 18vw;
}

.index_robots_ju_te1 img {
    height: 21vw;
}

.index_robots_round_pic img {
    height: 30vw;
}

.index_robots_ju_te2 img {
    height: 25vw;
}

.index_robots_pics{
    z-index: 8888;
}

.index_robots_pics_middle .index_robots_idea {
    width: 94px;
    height: 82px;
}

.index_robots_pics_middle {}

.index_robots_pics_middle ul {
    position: relative;
}

.index_robots_pics_right {
    /*right: 0vw;*/

}

.index_robots_module_txt {
    color: #12151A;
    text-align: center;
    width: 25vw;
    margin: 20px 0px 40px;
}

.index_robots_div1 {


    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
}

.index_robots_round1 {
    position: absolute;
    background-color: black;
    background-color: #243341;
}

.index_robots_idea {
    width: 0px;
}

.index_robots_idea {
    width: 0px;
}


.index_robot_luo {
    animation: index_robot_luo_animate 1.5s;
    -moz-animation: index_robot_luo_animate 1.5s;
    /* Firefox */
    -webkit-animation: index_robot_luo_animate 1.5s;
    /* Safari 和 Chrome */
    -o-animation: index_robot_luo_animate 1.5s;
    /* Opera */
    -webkit-animation-iteration-count: 1;
animation-fill-mode: forwards; /*让动画停留在最后一帧 */
    -moz-animation-fill-mode: forwards; 
    -webkit-animation-fill-mode: forwards; 
    -o-animation-fill-mode: forwards;
}

.index_robots_round {
    height: 30vw;
    width: 25vw;
    border-radius: 5vw;
    background-color: black;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: none;
    z-index: 5;
    transform: translate(-50%, 0px);
    left: 50%;
}

@keyframes index_robot_luo_animate {
    0% {
        top: 50vh;
        width: 4vw;
        height: 3vw;
    }

    4% {
        top: 48vh;
        width: 4vw;
        height: 2.5vw;
    }

    10% {
        top: 45vh;
        width: 3vw;
        height: 4vw;
    }

    20% {
        width: 4vw;
        height: 4vw;
        top: 30vh;
    }

    25% {
        width: 4vw;
        height: 4vw;
        top: 25vh;
    }

    30% {

        width: 2.5vw;
        height: 4vw;
        top: 30vh;
    }

    45% {

        width: 4vw;
        height: 4vw;
        top: 50vh;
    }

    60% {
        width: 4vw;
        height: 3vw;
        top: 35vh;
    }

    65% {
        width: 4vw;
        height: 4vw;
        top: 40vh;
    }

    80% {
        width: 3.5vw;
        top: 50vh;
    }

    90% {
        width: 4vw;
        top: 45vh;
    }

    95% {
        width: 4.5vw;
        top: 48vh;
    }

    100% {
        top: 50vh;
    }

}

.index_robots_idea_div {
    border-radius: 2vw;
    opacity: 1;
    top: 44vh;
    position: absolute;
    left: 50%;
    z-index: 10;
    width: 124px;
    height: 112px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translate(-50%, 0px);
}

.index_robots_module {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.index_robots_round_li {
    opacity: 1;
}

.head_index_video ul li {
    /*margin: 10px auto;*/
    text-align: center;
}


.index_robots_section {
    display: none;
    position: fixed;
    top: 100vh;
    width: 100vw;
    background-color: white;
    top: 100vh;
    z-index: 3;
}

.fir {
    display: flex;
    justify-content: space-around;

}

.div_big {
    width: 20vw;
    height: 14vh;
    margin-bottom: 10vh;
}

.div_min {
    width: 15vw;
    height: 12vh;
}

.div_min,
.div_big {
    /*border: 2px solid red;*/
}

.zong {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
    top: 5vh;

}

.fir li,
.sec li,
.thr li,
.four li,
.five li {
    display: flex;
    align-items: center;
}

.zong_fir ul:first-child {
    position: relative;
    left: 0vw;
}

.zong_fir {
    height: 22vh;
    text-align: center;
    line-height: 20vh;
    align-items: center;
    display: flex;
}

.zong_fir ul {
    display: flex;
    justify-content: space-around;
    width: 99vw;
}

.zong_fir li {

    position: relative;
}

.zong_fir .fir,
.zong_fir .thr,
.zong_fir .five {
    justify-content: space-between;
}

.div_min {
    position: relative;
    top: 1vh;
}

.zong {
    /*transform: scale(1.1);*/
}

.div_big img {
    width: 100%;
}

.div_min,
.div_big {
    overflow: hidden;
}

.div_min img {
    /*height: 15vh;*/
}

.zong_div {

    height: 100vh;
    z-index: 8;
    position: absolute;
    top: 0px;
    width: 100vw;
}

.zong_fir img {
    cursor: pointer;
}

.zong_div_bg {
    background-color: #191E23;
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    /*display: none;*/
}

.gif_bg {
    background-color: #191E23;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    display: none;
}

.index_many_video {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
}

#index_many_video {
    position: fixed;
    z-index: 2;
    height: 100vh;
}

.index_many_pic {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    display: none;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.index_many_top {
    position: fixed;
    top: 0px;
    z-index: 2;
    height: 100vh;
    display: none;
}

.index_many_top img {
    height: 100vh;
    width: 100vw;
    display: block;
}

.new_zong .top,
.new_zong .bottom {
    background-color: #191E23;

}

.b {
    /*background-color: #191E23;*/
    opacity: 0;
}

.new_zong {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 3;
}

.center {
    display: flex;
    /*        background-color: #191E23;
*/
    flex: auto;
}

b {
    width: 300px;
    height: 200px;
}

.top,
.bottom {
    width: 100%;
    height: 10px;
    opacity: 1;
}

.a,
.c {
    width: 0px;
    background-color: #191E23;
    opacity: 1;
}

.b {
    flex: auto;
    opacity: 0;
}

.center ul {
    width: 100%;
    display: flex;
}

.index_tuxinghua {
    flex-direction: column;
    /* position: fixed; */
    top: 50px;
    background-color: #191E23;
    /* padding: 10%; */
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100vw;
    z-index: 100;
}

.phs_animate_title {
    width: 80%;
    min-height: 160px;
}

.phs_animate_title_ul {
    color: white;
    width: 100%;
    text-align: left;
}

.phs_right_li_pic {
    display: flex;
}

.phs_san {
    width: 0px;
    height: 0px;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top: 11px solid #E22425;
    position: relative;
    top: 5px;
    margin-left: 5px;
}
}

.phs_right {
    font-size: 12px;
}

.phs_code {
    display: flex;
    width: 100%;
}

.phs_code_num {
    background-color: white;
    color: #685DA7;
    height: 22px;
    line-height: 23px;
    text-align: center;
    padding: 20px 0px;
    padding-top: 19px;
    height: 471px;
}

.phs_code_num li {
    width: 40px;
    height: 24px;
    line-height: 24px;
    background-color: white;
}

.phs_code_right {
    width: 0%;
    /* background-color: #3920BE; */
    padding-left: 100px;
    color: #88C6FD;
    height: 471px;
    overflow: hidden;
    background-color: #391FBD;
    background: -webkit-linear-gradient(to right, #391FBD, #3E41C9);
    background: linear-gradient(to right, #391FBD, #3E41C9);
    padding: 20px 0px;

}

.phs_code_key {
    color: blue;
}

.phs_code_red {
    color: #DB567A;
}

.phs_code_yellow {
    color: #D6D7A1;
}

.phs_left_fir {
    padding-left: 22px;
}

.phs_left_sec {
    padding-left: 44px;
}

.phs_left_thr {
    padding-left: 66px;
}

.phs_doshed {
    border-bottom: 1px dotted #7C61F6;
    position: absolute;
    top: 25px;
    z-index: 1000;
    width: 100%;
}

.phs_code_right li {
    height: 24px;
    line-height: 24px;
    position: relative;
}

.phs_code_right li span {
    opacity: 0;
    font-size: 12px;
    position: relative;
    top: 2px;
}

.phs_code_right li>span {
    left: 60px;
    position: relative;
}

.phs_animate {
    /*margin: 100px 20px;*/
    /*display: flex;*/
    display: none;
    top: 30vh;
}

.phs_slidup {
    height: 22px;
    width: 100%;
    position: absolute;

    background-color: #391FBD;
    background: -webkit-linear-gradient(to right, #391FBD, #3E41C9);
    background: linear-gradient(to right, #391FBD, #3E41C9);

    top: 2px;
    /*display: none;*/
}

.phs_module_list {
    display: inline-flex;
    padding: 0px 0px;
    opacity: 0;
    height: 0px;
    text-align: right;
}

.phs_module_until {
    width: 50px;
}

.phs_module_curios {
    width: 93%;
}

.index_community {

    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #191E23;
}

.index_community_content {
    margin: 0 auto;
    color: white;
    width: 80%;
}

.index_community_title {
    width: 80%;
    margin: 2rem 0px;
    line-height: 2rem;
    font-size: 1.5rem;
}

.index_edu_cool {
    /*position: fixed;*/
    z-index: 1;
    /*top: 50px;*/
    width: 80vw;
    height: 100vh;
    /*    left: 50%;
    transform: translate(-49%, 10px);*/
}

.index_edu_community {
    width: 80%;
    margin: 50px auto;
}

.index_edu_cool {
    background-color: #191E23;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index_edu_video_div {

    overflow: hidden;
    width: 80vw;

}

.index_edu_video {

    width: 81vw;
}

.index_edu_title {
    color: white;
    font-size: 2rem;
    padding-top: 30px;
    font-weight: 700;
}

.index_edu_title_li {
    color: white;
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 600;
}

.index_edu_content {
    width: 100%;
    margin: 15px 0px;
    color: #B6BABD;
    margin-bottom: 20px;
    font-size: 1.5rem;
}


.head_index_video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    z-index: 2;
}

.head_index_video_title {
    width: 750px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 10;
}

.header-nav-first {
    position: fixed;
    background-color: #F8F8F8F8;
}

.header {
    position: fixed;
}


.head_video_last_txt span {
    font-size: 20px;
}

.index_fumo_pic {
    /*        justify-content: center;
    display: flex;
    align-items: end;*/

    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 9999;
    top: 10px;
    left: 10px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    transform: scale(9);

}

.index_sec_fumo .index_sec_bg {
    /*
    top: -50px;
    width: 100%;
    height: 100vh;
    position: relative;*/

    /* top: -50px; */
    width: 100%;
    /* height: 100vh; */
    position: relative;
    position: absolute;
    bottom: 0px;
    z-index: 1;
    transform: scale(9);
    /*top: 25vh;*/
}

.index_sec_fumo .index_sec_eay {
    width: 100%;
    /* height: 100vh; */
    position: relative;
    /*position: absolute;*/
    bottom: 0px;
    z-index: 2;

}


.index_sec_fumo {

    top: 50px;
    z-index: 1;
    width: 100%;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: center;
    display: none;

}

.index_pic_video {
    width: 100vw;
    display: none;
}

.index_txt_video_div {
    position: fixed;
    top: 0px;
    z-index: 1;
    display: none;
}

.index_txt_all_think {
    margin: 0 auto;
    color: white;
    display: flex;
    opacity: 1;
    background-color: #191E23;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 85%;

}

.head_search_page {
    top: 50px;
}

.index_module_txt div{
    margin:10px 0px;
}
@media screen and (max-width: 1200px) {
    .index_txt_all_think {
        flex-direction: column;
        align-items: normal;
    }
}

@media screen and (min-width: 750px) and (max-width: 780px) {
    .head_index_video {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        z-index: 2;
        background-position: bottom;
    }
    .index_robots_one_title{
        font-size: 2rem;
    }
}

@media screen and (max-width: 780px) {

.index_module_txt{
    text-align: center;
    font-size: 14px;
    color: white;
    width: 211px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.phs_animate_ul_li{
    font-size: 1.6rem;
}

.index_community_title {
    width: 80%;
    margin: 20px 0px;
    line-height: 1.6rem;
    font-size: 1.2rem;
}

.phs_animate_ul_li_content{
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 20px 0px;
    margin-bottom: 2rem;
    color: #B6BABD;
}

.index_edu_title {
    color: white;
    font-size: 1.6rem;
    padding-top: 150px;
    font-weight: 700;
}

.index_edu_title_li{
    font-size: 1.6rem;
}
.index_edu_content{
    font-size: 1.2rem;
}

    .index_sec_fumo .index_it_alive_txt li {
        text-align: left;
    }
.index_robots_one_title{
    position: absolute;
    transform: translate(-50%, -80%);
    top: 50%;
    left: 50%;
    font-size: 2rem;
    width: 80%;
}
.index_pingjie_txt {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 51%;
    font-size: 1.5rem;
    color: white;
    opacity: 1;
    text-align: center;
    width: 302px;
    z-index: 999;
}
    .index_txt_pic img {
        width: 100%;
    }

    .header-nav-first ul li a img {
        width: 30px !important;
    }


    .head_index_video_title .head_index_video_title_happen {
        margin: 10px auto !important;
    }

    .index_it_alive_txt {
        position: absolute;
        top: 20%;
        transform: translate(-30%, -50%);
        width: 300px;
        text-align: left;
        margin-top: 100px;
        width: 80%;
        margin: 0 auto;
        margin-right: 10%;
        margin-left: 10%;
    }

    .index_it_alive_txt li:first-child {
        font-size: 1.6rem;
        padding: 5px 0px;
    }

    .index_it_alive_txt li:nth-child(2),
    .index_it_alive_txt li:nth-child(3) {
        font-size: 1.2rem;
        padding: 0px;
    }

    .index_pic_video {
        top: 100px;
        height: 100vh;
        width: 100vw;
    }

    .head_video_san_txt {
        font-size: 1.2rem;
    }

    .head_index_video_title_happen {
        font-size: 28px;
        font-weight: 700;
    }

    .head_video_san {
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 6px solid #396BE4;
        position: relative;
        top: 0px;
    }

    .head_video_san_bg {
        background-color: white;
        height: 15px;
        line-height: 15px;
        text-align: left;
        display: inline-block;
        width: 14px;
        border-radius: 14px;
        margin-right: 12px;
        cursor: pointer;
        padding-left: 9px;
        position: absolute;
        left: -13px;
        z-index: 1;
        top: 0px;
        padding-right: 0px;

    }

    .head_video_title {
        display: flex;
        justify-content: center;
        opacity: 0;
        position: relative;
        top: 5px;
        width: 180px;
        margin: 0 auto;
        text-align: center;
        left: 15px;
        z-index: 9999;
    }

    .head_video_san_txt {
        font-size: 14px;
        color: #ddd;
    }


    .head_index_video_title_clic {
        font-size: 16px;
    }

    .head_video_last_txt {
        max-width: 280px;

    }

    .head_index_video {
        display: flex;
        /*     width: 290px;
        top: 50vh;
        left: 50vw;
        margin-left: -145px;
        margin-top: -72px;
        position: fixed;*/
    }

    .head_video_last_txt span {
        font-size: 14px;
    }

    .head_video_last_txt {
        top: -15px;
    }

    .index_pic_video {
        top: 100px;
    }

    .index_txt_all {
        top: 100px;
    }


}

@media screen and (max-width: 760px) {

    .index_txt_right li {
        font-size: 16px;
        line-height: 25px;
    }

    .index_txt_left {
        font-weight: 700;
        overflow: hidden;
        font-size: 2.5rem;
        padding: 0px 10px;
        width: 700px;
        margin-top: 50%;
        max-width: 299px;
    }

    .index_txt_right ul {
        margin: 20px 0px;
        width: 280px;
    }

    .index_txt_all {
        top: 50px;
    }

    .index_robots_ju img {
        width: 80vw;
        height: auto;
    }

    .index_robots_module_txt {
        color: #12151A;
        text-align: center;
        width: 80vw;
        margin: 20px auto;
    }
    .index_robots_pics img{
        width: 80vw;
        height: auto;
    }
}