  .footer-top-white {
        background-color: #191D23;
    }

    .contact-info ul li {
        color: white;
        text-align: left;
        color: #ddd;
    }

    .contact-info ul li:first-child {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .contact-info ul {
        width: 80%;
        margin: 0 auto;
    }

    .contact-info ul li {
        margin: 5px 0px;
    }

    .contact-info {
        margin: 50px 0px;
    }

    .contact-content {
    
        margin: 0 auto;
        text-align: center;
    }

    .contact-content img{
 
        margin: 50px auto;
        margin-top: 150px;
    }

    body {
        background-color: #191D23;
    }

    @media screen and (max-width: 780px) {
        .contact-info ul li:first-child {
            font-size: 1.5rem;
        }

        .contact-info ul li {
            text-align: center;
            color: #ddd;
        }
        .contact-content img{
            width: 100%;
        }

        .contact-info {
            font-size: 12px;
        }

        .contact-info ul {
            width: 100%;
        }

        .contact-info ul li {
            margin: 5px 0px;
        }
    }