.support-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.support-leader-list {
    width: 18vw;
    text-align: center;
}

.support-leader-list ul {
    margin: 10px;
}
.support-leader-list{
    cursor: pointer;
}
.support-leader-title {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 700;
    color: #777;
}

.support-repair-user{
    margin-top: 60px;
    margin-bottom: 30px;
    color: #1D7EF6 !important;
    font-weight: 700;
    font-size: 1.5rem;
    margin:50px 0px;
    text-align: left;
    padding-left: 10px;
}
.support-repair-user span{
    color: #1D7EF6 !important;
}
.support-repair-top{
    margin-top: 60px;
    margin-bottom: 30px;
    color: #1D7EF6;
    font-weight: 700;
}
.support-repair-top span{
    cursor: pointer;
}
.support-content {
    text-align: center;
}
.support-form-info input{
    
    background: #F8F8F8;
}
.support-form{
  
    background: #F8F8F8;
    padding: 15%;
}
.support-form-title {
    font-size: 1.5rem;
    color: #555;
    font-weight: 600;
}

.support-form-info-name {
    font-weight: 600;
    color: #555;
}

.support-content-one {
    width: 80%;
    margin: 0 auto;
}

.support-bottom {
    margin-top: 60px;
}

.support-top-pic img {
    height:30vh;
    width: 100vw;
    margin-bottom: 30px;
}

.support-leader-list img {
    width: 18vw;
}

.support-content {
    overflow: hidden;
}

.support-bottom-title,
.support-content-title {
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: 700;
}



.support-top-pic {
    height: 30vh;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.support-form-title {
    font-size: 1.5rem;
    color: #555;
    font-weight: 600;
    margin: 50px 0px;
}

.support-kit-module-select,
.support-repired-module-select {
    background-color: #111;
    color: white;
}

.support-kit-title,
.support-package-title,
.support-description-title {
    color: #555;
    font-weight: 600;
}

.support-repired-title {
    color: #555;
    font-weight: 600;
}

.support-content {
    width: 80%;
    margin: 0 auto;
}

.support-form-info {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.support-form-info ul {
    width: 50%;
    display: flex;
    margin-bottom: 20px;
    height: 25px;
}

.support-form-info input {
    border-bottom: 1px solid black;
    width: 100%;
}

.support-form-info ul li:first-child {
    margin-right: 10px;
}

.support-form-info-input {
    flex-grow: 1;
    margin-right: 10px;
}

.support-content input {
    border-bottom: 1px solid black;
}

.support-kit {
    text-align: left;
    margin: 20px 0px;
}

.support-kit-all {
    display: flex;
}

.support-kit-module ul {
    display: flex;
}

.support-kit-module ul li {
    border: 1px solid #111;
    border-radius: 10px;
    padding: 0px 10px;
    margin: 0px 10px;
    cursor: pointer;
}

.support-package {
    text-align: left;
}

.support-package ul {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}

.support-serial {
    width: 100%;
}

.support-repired {
    text-align: left;
}

.support-repired-module span {
    display: inline-block;
}

.support-repired ul {
    display: flex;
    justify-content: column;
    flex-wrap: wrap;

}

.support-repired-module-name {
    border: 1px solid #111;
    padding: 0px 5px;
    border-radius: 10px;
}

.support-repired-module {
    margin: 0px 10px;
    cursor: pointer;
    height: 40px;
}

.support-repired-module-input input {
    width: 20px;
    border-bottom: 1px solid #000;
}

.support-repired-module .support-repired-module-x,
.support-repired-module .support-repired-module-input {
    display: none;
}
.support-package-input input{
    background: #F8F8F8;
    border-bottom: 1px solid black;
}
.support-repired-module-x {
    font-size: 12px;
}

.support-package-input input {
    width: 100%;
    margin: 10px;
}

.support-desc{
    text-align: center;
}

.support-description {
    margin: 20px 0px;
    text-align: left;
}

.support-desc-li {
    text-align: left;
    cursor: pointer;
}

.support-submit {
    border-radius: 10px;
    padding: 0px 10px;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #555;
    margin: 50px 0px;
    cursor: pointer;
}

.support-desc ul {
    display: flex;
    flex-wrap: wrap;
}

.support-desc ul li {
    margin-left: 10px;
}

.support-top-pic {
    margin-top: 50px;
}
.support-video-alert-ul{
    display: flex; 
}
.support-video-alert-ul-left{
    flex: 2;
}
.support-video-alert-ul-right{
    flex: 1;
    overflow: scroll;
    height: 50vh;
}
.support_video{
    width: 100%;
}
.support-form{

}
.index_robots_video{
    width: 100%;
}
@media screen and (max-width: 1280px) {
 
    .support-leader-list {
        width: 35vw;
    }
    .support-leader-list img{
        width: 40vw;
    }
    .support-bottom{
        margin-top: 40px;
    }
}

@media screen and (max-width: 780px) {
    .support-top-pic{
        height: 15vh;
        background-color: #111217;
    }
    .support-form-info ul {
        width: 100%;
    }
    .support-leader-list {
        width: 45vw;
    }
    .support-top-pic {
        font-size: 1rem;
    }

    .support-kit-all {
        flex-direction: column;
    }

    .support-top-pic {
        margin-top: 45px;
    }

    .support-kit-all li {
        margin-bottom: 10px;
    }

    .support-package ul {
        flex-direction: column;
    }

    .support-content {
        width: 92vw;
    }

    .support-package-input input {
        margin: 0px;
    }

    .support-package-input input {
        margin-top: 11px;
    }

    .support-kit-module ul li {
        padding: 0px 2px;
        margin: 0px;
        margin-top: 5px;
        font-size: 10px;
    }

    .support-kit-module ul {
        justify-content: space-between;
    }

    .support-repired-title {
        margin: 20px;
    }
    .support-repair-top span{
        font-size: 10px;
    }

}

@media screen and (max-width: 360px) {
    .support-top-pic{
        height: 14vh;
    }

    }