<style>
        footer {
        background-color: #191D23;
        width: 100%;
    }

    .index-footer-content {
        width: 80%;
        padding: 30px 0px;
        margin: 0px auto;
    }

 
    .index-footer-top-title{
        text-align: center;
        color: white;
        font-size: 3rem;
        line-height: 4rem;
        font-weight: 700;
    }
    .index-footer-bottom {
        margin-top: 50px;
    }

    .index-footer-email {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
    }

    .index-footer-email li span {
        margin-right: 15px;
        position: relative;
        top: -4px;
    }

    .index-footer-email li {
        margin-right: 15px;
    }

    .index-footer-privacy {
display: flex;
    flex-direction: row;
    margin-top: 28px;
    margin-bottom: 5px;
    }
    #mc_embed_signup{
        margin-top: 30px;
    }
    .index-footer-privacy li {
        margin-right: 20px;
    }

    .index-footer-privacy li:hover {
        cursor: pointer;
        color: white;
    }

    @media screen and (max-width: 760px){
        .index-footer-top-title{
            font-size: 1.4rem;
            line-height: 2rem;
        }
        .footer-hr{
            display: none;
        }
        .index-footer-privacy{
            flex-wrap: wrap;
        }
        .index-footer-privacy li{
            margin-bottom: 20px;
        }
    }
    @media screen and (max-width: 360px){
        .index-footer-email li{
            margin-right: 0px;
        }
        .index-footer-privacy li{
            margin-bottom: 10px;
        }
    }
    </style>

<footer class="all-footer">
    <div class="footer-top-white"></div>
    <div class="footer">
        <div class="footer-content footer-content-tip" style="width:80% ">
 
            <dl>
                <!-- <dt>{$Think.lang.foot_sub}</dt> -->
                <dt class="foot-title">Subscribe our newsletter</dt>
                <dt class="foot-title">for the latest news & promotions</dt>
                <div id="mc_embed_signup">
                    <form action="https://cell-robot.us9.list-manage.com/subscribe/post?u=77776a740ac9daca1572b2e83&amp;id=aeca02c56c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                        <div class="form-email">
                            <div>
                                <ul class="form-email-bottom" style="display: flex;">
                                    <li class="form-email-li-input">
                                        <span class="footer-input-shu"></span>
                                        <input id="semail" style="color: white;" type="email" value="" name="EMAIL" class="foot_email required email" placeholder="You email address">
                                    </li>
                                    <li style="width:5px;">
                                    </li>
                                    <li class="form-email-li-sub">
                                        <!-- <span><img src="{$Think.WEB_INDEX_IMG}foot_email.png" style="width: 25px;cursor: pointer;"></span> -->
                                        <span class="form-email-sub-dir"></span>
                                        <input style="" type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="form-email-sub footer-input-sub">
                                    </li>
                                    <li id="resmessage" style="display: none;">Subscription successful!</li>
                                </ul>
                            </div>
                            <div id="mce-responses" class="clear sub-title footer-sub-title">
                                <div class="response" style="color:white;font-size:12px;width:100%;margin:0 auto;text-align: left;display: none;" id="mce-error-response">
                                    <!--              By clicking the button to subscribe, you acknowledge that you have authorized us to send you email, direct mail and customized online advertising. You can unsubscribe at anytime by clicking the link in the footer of our email. -->
                                </div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <!--                   <div class="sub-title footer-sub-title" style="display: none;">
                                By clicking the button to subscribe, you acknowledge that you have authorized us to send you email, direct mail and customized online advertising. You can unsubscribe at anytime by clicking the link in the footer of our email.
                            </div> -->
                            <div>
                                <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
                                    <div class="content__gdpr">
                                        <fieldset style="border:none;display:none;" class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
                                            <label class="checkbox subfield" for="gdpr_31918"><input type="checkbox" id="gdpr_31918" name="gdpr[31918]" checked="" value="Y" class="av-checkbox "><span style="color:white;">Agree</span> </label><label class="checkbox subfield" for="gdpr_31922"> </label>
                                        </fieldset>
                                    </div>
                                    <div class="content__gdprLegal">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="mc_embed_signup_scroll">
                            <div class="indicates-required"></div>
                            <div class="mc-field-group">
                            </div>
                            <div class="mc-field-group" style="display:none;">
                                <label for="mce-FNAME">First Name </label>
                                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                            </div>
                            <div class="mc-field-group" style="display:none;">
                                <label for="mce-LNAME">Last Name </label>
                                <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                            </div>
                            <div class="mc-field-group" style="display:none;">
                                <label for="mce-MMERGE5">Zip Code </label>
                                <input type="text" value="" name="MMERGE5" class="" id="mce-MMERGE5">
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_77776a740ac9daca1572b2e83_aeca02c56c" tabindex="-1" value=""></div>
                        </div>
                    </form>
                </div>
                <!--                 <dd><span class="footer-input-shu"></span><input type="input" style="color: white;" class="foot_email" placeholder="{$Think.lang.foot_sub_pla}" name="email"> <span><img src="{$Think.WEB_INDEX_IMG}foot_email.png" style="width: 25px;cursor: pointer;"></span></dd>
 -->
                <!-- <style>
.response a{
    color:white;
}
</style> -->
                <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
                <!-- <script type="text/javascript" src="{$Think.WEB_INDEX_JS}tool/mc-validate.js"></script> -->
                <script type="text/javascript">
                (function($) {
                    window.fnames = new Array();
                    window.ftypes = new Array();
                    fnames[0] = 'EMAIL';
                    ftypes[0] = 'email';
                    fnames[1] = 'FNAME';
                    ftypes[1] = 'text';
                    fnames[2] = 'LNAME';
                    ftypes[2] = 'text';
                    fnames[3] = 'ADDRESS';
                    ftypes[3] = 'address';
                    fnames[4] = 'PHONE';
                    ftypes[4] = 'phone';
                    fnames[5] = 'MMERGE5';
                    ftypes[5] = 'zip';
                }(jQuery));
                var $mcj = jQuery.noConflict(true);
                </script>
                <!--End mc_embed_signup-->
            </dl>
        </div>
        <div class="foot-select-lang" style="width:80%;margin: 0 auto;text-align: right;margin-top: 50px;">
            <ul style="background-color: white;border-radius: 15px; width:200px;padding: 6px;float: right;">
                <li style="background-color: #1A1C20;height: 30px;line-height: 30px;text-align: center;padding-left: 10px;color:white;border-radius: 20px;margin:5px 0px;">{$Think.lang.foot_select_lang}</li>
                <li style="background-color: #CFD1D2;height: 30px;line-height: 30px;text-align: left;padding-left: 10px;color:#333;border-radius: 20px;margin: 5px 0px;cursor: pointer;">{$Think.lang.foot_select_en}</li>
                <li style="background-color: #CFD1D2;height: 30px;line-height: 30px;text-align: left;padding-left: 10px;color:#333;border-radius: 20px;margin:5px 0px;cursor: pointer;">{$Think.lang.foot_select_zh}</li>
            </ul>
        </div>

        <div class="footer-content footer-content-jpg" style="width: 80%;">
            <dl class="foot_dl_last">
                <dd class="foot_two_jpg" style="justify-content: space-between;">
                    <div>
                        <span><a href=""><img style="width: 18px;height: 18px;" src="{$Think.WEB_INDEX_IMG}facebook.png"></a></span>
                        <span><a href=""><img style="width: 18px;height: 18px;" src="{$Think.WEB_INDEX_IMG}twitter.png"></a></span>
                        <!-- <span>Email: info@keyirobot.com</span> -->
                    </div>
                    <div class="foot_lan_img ">
                        <span class="foot_language">Languages</span>
                        <span><img style="width:14px;height: 14px;" src="{$Think.WEB_INDEX_IMG}language.png"></span>
                    </div>
                </dd>
                <dd class="foot-email">    
                 Email: info@keyirobot.com
                </dd>
            </dl>
        </div>

        <div class="foot-select-lang" style="width:80%;margin: 0 auto;text-align: right;margin-top: 50px;">
            <ul style="background-color: white;border-radius: 15px; width:200px;padding: 6px;">
                <li style="background-color: #1A1C20;height: 30px;line-height: 30px;text-align: center;padding-left: 10px;color:white;border-radius: 20px;margin:5px 0px;">{$Think.lang.foot_select_lang}</li>
                <li style="background-color: #CFD1D2;height: 30px;line-height: 30px;text-align: left;padding-left: 10px;color:#333;border-radius: 20px;margin: 5px 0px;cursor: pointer;">{$Think.lang.foot_select_en}</li>
                <li style="background-color: #CFD1D2;height: 30px;line-height: 30px;text-align: left;padding-left: 10px;color:#333;border-radius: 20px;margin:5px 0px;cursor: pointer;">{$Think.lang.foot_select_zh}</li>
            </ul>
        </div>
        <hr class="foot-hr">
        <div class="footer-content-padding">
<!--             <div class="footer-bottom-fir" style="padding-left: 10%;margin-top: 20px;font-size: 10px;">
                Copyright @ 2020 KEYi TECH All Rights Reserved
            </div> -->
            <dl   class="foot_last_dl foot_order_down footer-bottom-sec">
                <dd class="foot_five_txt">
                    <span class="foot_txt footer-dt-hover"><a href="">{$Think.lang.foot_privacy}</a></span>
                    <span class="foot_dian"></span>
                    <span class="foot_txt footer-dt-hover"><a href="">{$Think.lang.foot_legal}</a></span>
                    <span class="foot_dian"></span>
                    <span class="foot_txt footer-dt-hover"><a href="">{$Think.lang.foot_terms}</a></span>
                    <span class="foot_dian"></span>
                    <span class="foot_txt footer-dt-hover"><a href="">{$Think.lang.foot_sales}</a></span>
                    <span class="foot_dian"></span>
                    <!-- <span class="foot_txt footer-dt-hover"><a href="">{$Think.lang.foot_careers}</a></span> -->
                </dd>
            </dl>
            <dl class="footer-bottom-thr"></dl>
        </div>
        <!--         <div class="footer-message">
            <p>Copyright &copy; 2018 可以科技&nbsp;&nbsp;&nbsp;KEYi Technology Inc All Rights Reserved
                <br /> <a target="_blank" href="{:url('index/index/notice')}">免责声明</a></p>
            <ul class="footer-ul">
                <li>Copyright@2018 可以科技 KEYi Technology Inc All Rights Reserved </li>
                <li><a target="_blank" href="{:url('index/index/notice')}">免责声明</a></li>
            </ul>
        </div> -->
    </div>
    <ul class="clearfix" style="display: none;">
        <li effext="normal">正常 : normal</li>
        <li effext="right">近右 : right</li>
        <li effext="left">近左 : left</li>
        <li effext="down">近下 : down</li>
        <li effext="up">近上 : up</li>
        <li effext="random" class="effF">随机 : random</li>
        <li effext="rightBig">远右 : rightBig</li>
        <li effext="leftBig">远左 : leftBig</li>
        <li effext="downBig">远下 : downBig</li>
        <li effext="upBig">远上 : upBig</li>
    </ul>
    <div class="speedBtn" style="display: none;">
        <span style="font-weight: bold;">速度 : </span>
        <i speed="400">慢</i>
        <i speed="200">正常</i>
        <i speed="60">快</i>
        <i speed="15" class="speedF">极快</i>
    </div>
    </div>
</footer>
 
<script>
$(function() {



    //演示效果点击事件,可忽略
    if ($("#btnBox").attr("effext") === "effext") {
        var speI = 15;
        $("#btnBox .speedBtn i").click(function() {
            speI = $(this).attr("speed");
            $(this).siblings().removeClass("speedF");
            $(this).addClass("speedF");
            $("#btnBox ul .effF").trigger("click");
        });

        $("#btnBox li").click(function() {
            clearInterval(word1);
            $("#text").html("");
            var btnEff = $(this).attr("effext");
            $(this).siblings().removeClass("effF");
            $(this).addClass("effF");
            word1 = text({
                str: "土地是以它的肥沃和收获而被估价的。才能也是土地，不过它生产的不是粮食，而是真理。如果只能滋生瞑想和幻想的话，即使再大的才能也只是砂地或盐池，那上面连小草也长不出来的。",
                effect: btnEff,
                speed: speI,
            });
        });
    }
});


$(function() {



    //订阅邮件
    function eamilcheck(val) {
        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        if (!myreg.test(val)) {
            return false;
        } else {
            return true;
        }
    }

    var flag = true;

    $("#mc-embedded-subscribe").on("click", function() {
        var val = $("#semail").val();
        if (!eamilcheck(val) && val) {
            $("#mce-error-response").html("Please examine the email address. Thinks!");
            $("#mce-error-response").show();

        } else if (!val) {
            $(".footer-input-shu").hide();
            $("#mce-error-response").html("By clicking the button to subscribe, you acknowledge that you have authorized us to send you email, direct mail and customized online advertising. You can unsubscribe at anytime by clicking the link in the footer of our email.");
            $("#mce-error-response").show();
        }
    })

    $(".foot_email, #semail").focus(function() {
        var val = $("#semail").val();
        val = val.replace(/^\s*|\s*$/g, "");
        if (!val) {
            $(".footer-input-shu").hide();
            $("#mce-error-response").html("By clicking the button to subscribe, you acknowledge that you have authorized us to send you email, direct mail and customized online advertising. You can unsubscribe at anytime by clicking the link in the footer of our email.");
            $("#mce-error-response").fadeIn(500);
        } else if (!eamilcheck(val) && val) {
            $("#mce-error-response").html("Please examine the email address. Thinks!");
            $("#mce-error-response").fadeIn(500);

        }
    })

    $(".foot_email").on("blur", function() {
        $(".footer-input-shu").show();
        $("#mce-error-response").fadeOut(1000);
    })

})

$(document).ready(function() {

    // 解决刷新浏览器的bug , 每次刷新浏览器返回到顶部导航    

    // 解决刷新浏览器的bug , 每次刷新浏览器返回到顶部导航    
    // setTimeout(function() {
    //     $("html,body").animate({ scrollTop: 0 }, 20);
    glo_first_load = 1;
    //     // $("#product_animate").css({ "position": "relative" })
    // }, 600)

    // $("html,body").animate({ scrollTop: 0 }, 20);

    // 解决刷新浏览器的bug
    // $("#product_animate").css({ "position": "relative" })
})



// 控制首页视频播放按钮的动画
$(".head_video_san_bg").mouseover(function() {
    $(this).removeClass("head_video_san_bg_short")
    $(this).addClass("head_video_san_bg_long");
    $(".head_video_san").css("border-left", "7px solid white");
})

$(".head_video_san_bg").mouseleave(function() {
    $(this).addClass("head_video_san_bg_short");
    $(".head_video_san").css("border-left", "7px solid #396BE4");
    $(this).removeClass("head_video_san_bg_long");
})

$(".head_video_san_txt").mouseleave(function() {
    if ($(".head_video_san_bg").hasClass("head_video_san_bg_long")) {
        $(this).addClass("head_video_san_bg_short");
        $(".head_video_san").css("border-left", "7px solid #396BE4");
        $(this).removeClass("head_video_san_bg_long");
    }
})

// 控制提交邮箱按钮背景色
$(".footer-input-sub, .form-email-sub-dir").mouseover(function() {
    $(".form-email-sub-dir").css({ "border-top": "2px solid white", "border-right": "2px solid white" });
    $(".form-email-sub").css({ "background-color": "#2E63E3" })
})
$(".footer-input-sub").mouseleave(function() {
    $(".form-email-sub-dir").css({ "border-top": "2px solid #343434", "border-right": "2px solid #343434" });
    $(".form-email-sub").css({ "background-color": "#F4F4F4" })
})

function formatInt(number, len) {
    var mask = "";
    var returnVal = "";
    for (var i = 0; i < len; i++) mask += "0";
    returnVal = mask + number;
    returnVal = returnVal.substr(returnVal.length - len, len);
    return returnVal;
}



    
     
</script>