<script src="{$Think.WEB_INDEX_JS}tool/jquery.js" type="text/javascript"></script>
<style>
    @font-face {
    font-weight: 100;
    font-family: 'DINPro-Regular';
    src: url(../../../static/font/DINPro-Regular.otf)
}



@font-face {
    font-weight: 100;
    font-family: 'DINPro-Medium';
    src: url(../../../static/font/DINPro-Medium.otf)
}

@font-face {
    font-weight: 100;
    font-family: 'DINPro-Black';
    src: url(../../../static/font/DINPro-Black.otf)
}

@font-face {
    font-weight: 700;
    font-family: 'DINPro-Bold';
    src: url(../../../static/font/DINPro-Bold.otf)
}

@font-face {
    font-weight: 100;
    font-family: 'DINPro-Light';
    src: url(../../../static/font/DINPro-Light.otf) 
 }
 

 *{
    font-family: DINPro-Regular;
 }
 
#mc_embed_signup input.mce_inline_error{
    border-color: white !important;
}
 
.top_buy{
    display: inline-block;
           cursor: pointer;
    font-weight: 100 !important;
    border-radius: 15px;
    padding: 0px 15px;
    height: 22px;
    line-height: 20px;
    display: inline-block;
    font-family: 'DINPro-Medium';
    font-size: 14px;
    color: white;
    background-color: #1D66E7;
    margin: 0 auto; 
}
  
#index-sub-float-title{
    font-size: 14px;
    font-family: DINPro-Light !important;
    font-weight: 100;
    color: #B4B4B4;
    display: none;
}

#index-mce-responses{
    margin:15px auto;
    color: #A5A6AA;
}
.header-nav-first ul li a{
    font-size: 16px;
}
.header-nav-first ul{
    width: 1000px;
}
@media screen and (max-width: 1024px){
    .header-nav-first ul{
        width: 700px;
    }
}
/*.zhong-list a{
    color: white;
}*/
/*.top_buy{
    display: inline-block;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 10px;
    padding: 0px 16px;
    background: #1967E5;
    font-size: 14px;
    color: white;
}*/
@media screen and (max-width: 760px){
    .index-footer-bottom{
        padding-top:30px !important;
        background-color: #191D23 !important;
    }
    .header-nav-first ul{
        width: 100%;
    }
}
button{
    cursor: pointer;
    border-radius: 15px;
}
</style>
<script>
// 是否是手机
function ispcfuc() {
    var userAgentInfo = navigator.userAgent;
    var Agents = ["Android", "iPhone",
        "SymbianOS", "Windows Phone",
        "iPad", "iPod"
    ];
    var flag = true;
    for (var v = 0; v < Agents.length; v++) {
        if (userAgentInfo.indexOf(Agents[v]) > 0) {
            flag = false;
            break;
        }
    }
    return flag;
}
var ispc = ispcfuc();
</script>
<header>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180437469-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-180437469-1');
    </script>
    <nav>
        <div class="header">
            <div class="header-zhezhao"></div>
            <div class="zong">
                <div id="daohang" class="menu daohang model-2 zhong-list">
                    <div class="sanxian"></div>
                    <div class="sanxian"></div>
                    <div class="sanxian"></div>
                </div>
                <div class="zhong-list">
                    <a class="clicbot" href="{:url('index/web/index')}">
                        ClicBot
                    </a>
                </div>
                <div class="mobile-logo zhong-list">
                    <a style="display: none;" href="{:url('index/web/index')}">
                        <img class="logo" src="{$Think.WEB_INDEX_IMG}v1/logo.png">
                    </a>
                    <!--                    <a href="https://www.amazon.com/stores/page/AB86056E-37C7-4711-A875-26DACBE455DE?channel=LP-K" target="_blank">
                       <span class="top_buy">Buy</span>
                   </a> -->
                     
                        <span class="top_buy">Buy</span>
 
                </div>
            </div>
            <div class="header-nav-first" style="">
                <ul>
                    <li><a href="{:url('index/web/index')}"><img class="logo" src="{$Think.WEB_INDEX_IMG}v1/logo.png" alt=""> <span class="clicbot" style="color: white;margin-left: 20px;">ClicBot</span></a></li>
                    <li>
                        <a href="{:url('web/support')}">
                            {$Think.lang.public_head_support}
                        </a>
                    </li>
                    <li>
                        <a href="{:url('web/about')}">
                            {$Think.lang.public_head_about}
                        </a>
                    </li>
                    <li>
                        <a href="{:url('web/contact')}">
                            {$Think.lang.public_head_contact}
                        </a>
                    </li>
                    <li>
                        <a href="{:url('web/referral')}">
                            {$Think.lang.public_head_referral}
                        </a>
                    </li>
                    <li>
                            <span class="top_buy">Buy</span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<script type="text/javascript">
<?php

if(get_lan() == 'zh'){
    // echo 'var glo_url = "https://kybeijing-1251538927.cos.ap-beijing.myqcloud.com/clicbot"';
    // echo 'var glo_url = "http://guanwang.keyirobot.com"';
}else{
    // echo 'var glo_url = "https://kymeiguo-1251538927.cos.na-siliconvalley.myqcloud.com/clicbot"';    
}
echo 'var glo_url = "https://www.keyirobot.com";';

?>


glo_url = location.protocol + "//" + window.location.host;
var WEB_INDEX_img = glo_url + '/static/index/img';

$(function() {

    if (ispc) {
        $(".header-pc-text-top, .header-pc-top").hide();
    } else {
        $(".header-pc-text-bottom").hide();
        $(".header-pc-logo-one").hide();
    }

    if (ispc) {

        $(".header").mouseover(function() {
            $(this).css({ "background": "white" })
            $(".logo").attr("src", "{$Think.WEB_INDEX_IMG}logo.png");
            $(".header-nav-first ul li a, .header-nav-first ul li .clicbot").css("color", "black");
        })

        $(".header").mouseout(function() {
            $(".logo").attr("src", "{$Think.WEB_INDEX_IMG}v1/logo.png");
            $(".header").css({ "background": "none" })
            $(".header-nav-first ul li a, .header-nav-first ul li .clicbot").css("color", "white");
        })

    }

    $(".kyads-content-title-buy").click(function() {
        var jsonCallback = 'callbackpass';
        data = { 'jsonCallback': jsonCallback };
        $.ajax({
            url: 'https://hkapi.keyirobot.cn/api/user/buyclic',
            type: "GET",
            dataType: "jsonp",
            jsonp: "callbackpass",
            jsonpCallback: "callbackpass",
            data: data,
            success: function(msg) {

            }
        })
    })

    $(".head_buy").mouseleave(function() {
        return;
        $(this).addClass("head_buy_leave")
        setTimeout(function() {
            $(".head_buy").removeClass("head_buy_leave")
        }, 500)
    })

    $(".head_search").mouseover(function() {
        return;
        $(this).removeClass("head_search_leave");
        $(this).addClass("head_search_hover")
        $(this).find("img").attr("src", "{$Think.WEB_INDEX_IMG}search_active.png")
    })

    $(".head_search").mouseleave(function() {
        return;
        $(this).removeClass("head_search_hover")
        $(".head_search").addClass("head_search_leave");
        setTimeout(function() {
            $(".head_search").find("img").attr("src", "{$Think.WEB_INDEX_IMG}search.png")
            $(".head_search").removeClass("head_search_leave");
        }, 300)
    })

})

var glo_search_input = 0;

$(".head_search_input").on("blur", function() {
    glo_search_input = 1;
})

$(".head_search_input").on("focus", function() {
    glo_search_input = 0;
})

$(".aws_buy").click(function() {
    var jsonCallback = 'callbackpass';
    data = { 'jsonCallback': jsonCallback };
    $.ajax({
        url: 'https://hkapi.keyirobot.cn/api/user/awsbuy',
        type: "GET",
        dataType: "jsonp",
        jsonp: "callbackpass",
        jsonpCallback: "callbackpass",
        data: data,
        success: function(msg) {

        }
    })
})


// 导航菜单
$(document).on("click", "#daohang", function() {
    if ($(".header-nav-first").css("display") != "none") {
        $(".sanxian").removeClass("bar");
        $(".header-zhezhao").hide();
        $(".header-nav-first").slideUp(500);
        $(".header-nav-first").find("ul").slideUp(500);
        $("#daohang").find("img").css("margin-top", "16px");
        $(".daohang").find("img").attr("src", "{$Think.WEB_INDEX_IMG}san.png");
        $('html,body').removeClass('stopscroll');
        $(".zong").css({ "background": "none" });
        $(".zhong-list a").css("color", "white");
        $(".header").css({ "background": "none" });
        $(".sanxian").css("backgroundColor", "white");
    } else {
        $(".sanxian").css("backgroundColor", "black");
        $(".header").css({ "background": "white" })
        $(".zong").css({ "background": "white" });
        $(".zhong-list a").css("color", "black");
        $(".top_buy").css("color", "white");
        $(".sanxian").addClass("bar");
        $(".header-nav-first").show()
        $(".header-nav-first").find("ul").slideDown(500);
        $(".header-zhezhao").show();
        $("#daohang").find("img").css("margin-top", "12px");
        $(".daohang").find("img").attr("src", "{$Think.WEB_INDEX_IMG}close.png");
        $('html,body').addClass('stopscroll');
    }
})

// 导航菜单
$(document).on("click", ".head_top_search", function() {
    return;
    if ($(".head_search_page").css("display") != "none") {
        // $(".header-zhezhao").hide();
        $(".head_search_page").slideUp(500);
        $(".head_search_page").find("ul").slideUp(600);
        // $('html,body').removeClass('stopscroll');
    } else {
        $(".head_search_page").slideDown(500);
        $(".head_search_page").find("ul").slideDown(600);
        // $('html,body').addClass('stopscroll');
    }
})
$(window).scroll(function() {

    t = $(this).scrollTop();

    setTimeout(function() {
        b = t;
    }, 0)

    if (t > 90) {
        $(".lazy_foot").each(function() {
            if ($(this).attr("src") != $(this).attr("org_src")) {
                $(this).attr("src", $(this).attr("org_src"));
            }
        })
    }
})
setTimeout(function() {
    $(".lazy_foot").each(function() {
        if ($(this).attr("src") != $(this).attr("org_src")) {
            $(this).attr("src", $(this).attr("org_src"));
        }
    })
}, 1000)
</script>